<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row match-height" *ngIf="isAdmin || isClient">
      <!-- Medal Card -->
      <div class="col-xl-4 col-md-6 col-12">
        <div class="card card-congratulation-medal">
          <div class="card-body">
            <h5>Welcome To NIMASA Pipeline 🎉</h5>
            <p class="card-text font-small-3">{{ 'SAMPLE.BADGE' | translate }}</p>
            <h3 class="mb-75 mt-2 pt-50">
              <!-- <a href="javascript:void(0);">$48.9k</a> -->
            </h3>
            <button type="button" class="btn btn-primary" rippleEffect>Register Pipeline</button>
            <!-- <img src="assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" /> -->
          </div>
        </div>
      </div>
      <!--/ Medal Card -->

      <!-- Statistics Card -->
      <div class="col-xl-8 col-md-6 col-12">
        <div class="card card-statistics">
          <div class="card-header">
            <h4 class="card-title">Statistics</h4>
            <!-- <div class="d-flex align-items-center">
              <p class="card-text font-small-2 mr-25 mb-0">Updated 1 month ago</p>
            </div> -->
          </div>
          <div class="card-body statistics-body">
            <div class="row">
              <div class="col-sm-7 col-xl-4 mb-2 mb-xl-0">
                <div class="media">
                  <div class="avatar bg-light-danger mr-2">
                    <div class="avatar-content">
                      <i data-feather="home" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ company }}</h4>
                    <p class="card-text font-small-3 mb-0">Companies</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-7 col-xl-4 mb-2 mb-xl-0">
                <div class="media">
                  <div class="avatar bg-light-primary mr-2">
                    <div class="avatar-content">
                      <i data-feather="framer" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ pipelineType }}</h4>
                    <p class="card-text font-small-3 mb-0">Pipeline-Types</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-7 col-xl-4 mb-2 mb-xl-0">
                <div class="media">
                  <div class="avatar bg-light-info mr-2">
                    <div class="avatar-content">
                      <i data-feather="activity" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ pipeline }}</h4>
                    <p class="card-text font-small-3 mb-0">Pipelines</p>
                  </div>
                </div>
              </div>
  </div>
    </div>
