<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5rZ9bV3ocG0iVhQu19dYhK9WiYF0COvQ&libraries=places&language=en&v=weekly">
</script>
<script src="https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyC5rZ9bV3ocG0iVhQu19dYhK9WiYF0COvQ"></script> -->
<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <section id="google-maps-basic">
            <div class="row">
                <div class="col-12">
                        <h4 class="card-title">Select Pipeline 
                            <dx-select-box [dataSource]="pipelines" valueExpr="pipeline_routes" displayExpr="name" value="blue"
                            (onValueChanged)="selectPipeline($event)">
                        </dx-select-box></h4>
                        
                        <div class="card-body">
                            <!-- Google Maps Basic Component -->
                            <google-map height="500px" width="'100%'"  [center]="mapCenter" [zoom]="6.15">
                                <!-- <map-circle [options]="mapCircleOptions" [center]="mapCircleCenter"></map-circle> -->
                                <map-polyline [options]="polylineOptions"    ></map-polyline>
                            </google-map>
                            
                        </div>
                </div>
            </div>
        </section>

        
