<script src="https://kit.fontawesome.com/d16d7ab5d4.js" crossorigin="anonymous"></script>
<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <section id="google-maps-basic">
                
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-9 col-xl-90">
                                   <google-map height="650px" width="'100%'" [center]="mapCenter" [zoom]="6.5" [mapTypeId]="mapType">
                                        <div *ngFor="let polylineOption of polylineOptions; let i = index">
                                            <map-polyline [options]="polylineOption"></map-polyline>
                                        </div>
                                    </google-map> 
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <div class="card card-transaction">
                                        <div class="card-header">
                                            <h4 class="card-title">Map-Filters</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="transaction-item">
                                                <div class="media">
                                                    <div class="avatar bg-light-primary rounded">
                                                        <div class="avatar-content">
                                                            <i data-feather="globe" class="avatar-icon font-medium-3"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <dx-select-box [dataSource]="['satellite', 'hybrid', 'roadmap', 'terrain']"
                                                            (onValueChanged)="changeMapType($event)" placeholder="Change Map-Type">
                                                        </dx-select-box>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="transaction-item">
                                                <div class="media">
                                                    <div class="avatar bg-light-success rounded">
                                                        <div class="avatar-content">
                                                            <i data-feather="framer" class="avatar-icon font-medium-3"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body" style="width: 210px;">
                                                        <ng-select [items]="pipelineType" (change)="filterByType($event)" [addTag]="true" bindValue="uid"
                                                            bindLabel="name" placeholder="Filter-By Pipeline-Type" (clear)="clearFilter()" [(ngModel)]="filterType" style="width: 100%;">
                                                            <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                                                <span class="ng-value-label">
                                                                    {{ item.name }}</span>
                                                                <!-- <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span> -->
                                                            </ng-template>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="transaction-item">
                                                <div class="media">
                                                    <div class="avatar bg-light-primary rounded">
                                                        <div class="avatar-content">
                                                            <i data-feather="home" class="avatar-icon font-medium-3"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body" style="width: 210px;">
                                                        <ng-select [items]="companies" [addTag]="true" bindValue="uid" bindLabel="name"
                                                            (change)="filterByCompany($event)" placeholder="Filter-By Company" [(ngModel)]="filterComp" style="width: 100%;">
                                                            <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                                                <span class="ng-value-label">
                                                                    {{ item.name }}</span>
                                                                <!-- <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span> -->
                                                            </ng-template>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-transaction">
                                        <div class="card-header">
                                            <h4 class="card-title">Map-Keys</h4>
                                    
                                        </div>
                                        <div class="card-body">
                                            <div class="transaction-item">
                                                <div class="media">
                                                    <div class="avatar bg-light-primary rounded">
                                                        <div class="avatar-content">
                                                            <i data-feather="circle" class="avatar-icon font-medium-3"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="transaction-title">Gas</h6>
                                                        <small>Pipeline</small>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <div class="avatar bg-light-primary rounded">
                                                        <div class="avatar-content">
                                                            <i data-feather="circle" class="avatar-icon font-medium-3"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="transaction-title">Gas</h6>
                                                        <small>Pipeline</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="transaction-item">
                                                <div class="media">
                                                    <div class="avatar bg-light-success rounded">
                                                        <div class="avatar-content">
                                                            <i data-feather="check" class="avatar-icon font-medium-3"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="transaction-title">Petrol</h6>
                                                        <small>Pipeline</small>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <div class="avatar bg-light-success rounded">
                                                        <div class="avatar-content">
                                                            <i data-feather="check" class="avatar-icon font-medium-3"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="transaction-title">Petrol</h6>
                                                        <small>Pipeline</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="transaction-item">
                                                <div class="media">
                                                    <div class="avatar bg-light-danger rounded">
                                                        <div class="avatar-content">
                                                            <i data-feather="box" class="avatar-icon font-medium-3"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="transaction-title">Fiber Optic</h6>
                                                        <small>Cable</small>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <div class="avatar bg-light-danger rounded">
                                                        <div class="avatar-content">
                                                            <i data-feather="hexagon" class="avatar-icon font-medium-3"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="transaction-title">Gasoline</h6>
                                                        <small>Cable</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="transaction-item">
                                                <div class="media">
                                                    <div class="avatar bg-light-warning rounded">
                                                        <div class="avatar-content">
                                                            <i data-feather="tablet" class="avatar-icon font-medium-3"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="transaction-title">Water</h6>
                                                        <small>Pipe</small>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <div class="avatar bg-light-warning rounded">
                                                        <div class="avatar-content">
                                                            <i data-feather="credit-card" class="avatar-icon font-medium-3"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="transaction-title">Kerosine</h6>
                                                        <small>Pipe</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="transaction-item">
                                                <div class="media">
                                                    <div class="avatar bg-light-info rounded">
                                                        <div class="avatar-content">
                                                            <i data-feather="trending-up" class="avatar-icon font-medium-3"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="transaction-title">Kerosine</h6>
                                                        <small>Pipeline</small>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <div class="avatar bg-light-info rounded">
                                                        <div class="avatar-content">
                                                            <i data-feather="trending-up" class="avatar-icon font-medium-3"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="transaction-title">Kerosine</h6>
                                                        <small>Pipeline</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
        </section>

        
